<!doctype html>
<html>
  <head>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet" />
    <link href="//vitalets.github.io/x-editable/assets/x-editable/bootstrap3-editable/css/bootstrap-editable.css" rel="stylesheet"/>
    <link href="//cdn.datatables.net/1.10.0/css/jquery.dataTables.css" rel="stylesheet"/>
    <link href="//cdn.datatables.net/plug-ins/28e7751dbec/integration/bootstrap/3/dataTables.bootstrap.css" rel="stylesheet"/>
    <style>
        tr.clickableRow { cursor: pointer; }
    </style>

    <script src="//code.jquery.com/jquery-2.1.0.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <script src="//vitalets.github.com/x-editable/assets/x-editable/bootstrap3-editable/js/bootstrap-editable.js"></script>
    <script src="//cdn.datatables.net/1.10.0/js/jquery.dataTables.min.js"></script>
    <script src="//cdn.datatables.net/plug-ins/28e7751dbec/integration/bootstrap/3/dataTables.bootstrap.js"></script>
	<script src="http://jquery-datatables-column-filter.googlecode.com/svn/trunk/media/js/jquery.dataTables.columnFilter.js"></script>
	<script type=text/javascript>
		$(document).ready(function() {
            $.fn.editable.defaults.mode = 'inline';
            $('#comment_tbl').dataTable({
                "aaSorting": [
                    [ 2, "desc" ]
                ],
                "lengthMenu": [
                    [50, 250, 500, 1000],
                    [50, 250, 500, 1000]
                ],
                "iDisplayLength": 250,
                "fnRowCallback": function (nRow, aData, iDisplayIndex, iDisplayIndexFull) {
                    $('#comment_tbl a.comment_type').editable({
                        type: 'select',
                        name: 'Comment Type',
                        title: 'Comment Type',
                        url: "{{ url_for('update_comment') }}",
                        source: [
                            {value: 1, text: 'good comment'},
                            {value: 2, text: 'rude or offensive'},
                            {value: 3, text: 'not constructive'},
                            {value: 4, text: 'obsolete'},
                            {value: 5, text: 'too chatty'},
                            {value: 6, text: 'other...'}
                        ],
                        ajaxOptions: {
                            type: 'post'
                        },
                        onblur: 'submit',
                        send: 'always'
                    });
                }
            }).columnFilter({
                sPlaceHolder: "head:after",
                aoColumns: [
                    null,
                    { type: "text" },
                    null,		// Date filter?
                    null,
					null,
                    { type: "select", values: [ 'good comment', 'rude or offensive', 'not constructive', 'obsolete', 'too chatty', 'other...']  },
                    { type: "select", values: [ 'True', 'False'] }
                ]
            });
			
			$('#settings_tbl').dataTable({
                "aaSorting": [
                    [ 0, "asc" ]
                ],
                "lengthMenu": [
                    [50, 250, 500, 1000],
                    [50, 250, 500, 1000]
                ],
                "iDisplayLength": 250,
                "fnRowCallback": function (nRow, aData, iDisplayIndex, iDisplayIndexFull) {				
                    $('#settings_tbl a.setting_value').editable({
                        type: 'text',
                        name: 'Setting Value',
                        title: 'Setting Value',
                        url: "{{ url_for('update_setting') }}",
                        ajaxOptions: {
                            type: 'post'
                        },
                        onblur: 'submit',
                        send: 'always'
                    });
                }
            }).columnFilter({
                sPlaceHolder: "head:after",
                aoColumns: [
                    { type: "text" },
					{ type: "text" }
                ]
            });
			
			$('#comment_types_tbl').dataTable({
                "aaSorting": [
                    [ 0, "asc" ]
                ],
                "lengthMenu": [
                    [50, 250, 500, 1000],
                    [50, 250, 500, 1000]
                ],
                "iDisplayLength": 250,
                "fnRowCallback": function (nRow, aData, iDisplayIndex, iDisplayIndexFull) {
                    $('#comment_types_tbl a.treshold_value').editable({
                        type: 'text',
                        name: 'Threshold Value',
                        title: 'Threshold Value',
                        url: "{{ url_for('update_comment_threshold') }}",
                        ajaxOptions: {
                            type: 'post'
                        },
                        onblur: 'submit',
                        send: 'always'
                    });
					
					$('#comment_types_tbl a.enabled_value').editable({
                        type: 'select',
                        name: 'Flagging Enabled',
                        title: 'Flagging Enabled',
                        url: "{{ url_for('update_comment_flagging_enabled') }}",
                        source: [
                            {value: 1, text: 'True'},
                            {value: 0, text: 'False'}
                        ],
                        ajaxOptions: {
                            type: 'post'
                        },
                        onblur: 'submit',
                        send: 'always'
                    });
                }
            }).columnFilter({
                sPlaceHolder: "head:after",
                aoColumns: [
                    { type: "text" },
					{ type: "select", values: [ 'True', 'False' ]  },
					{ type: "text" }
                ]
            });
			
			$('#algorithms_tbl').dataTable({
                "aaSorting": [
                    [ 0, "asc" ]
                ],
                "lengthMenu": [
                    [50, 250, 500, 1000],
                    [50, 250, 500, 1000]
                ],
                "iDisplayLength": 250,
                "fnRowCallback": function (nRow, aData, iDisplayIndex, iDisplayIndexFull) {
                    $('#algorithms_tbl a.setting_value').editable({
                        type: 'text',
                        name: 'File Location',
                        title: 'File Location',
                        url: "{{ url_for('update_training_file_location') }}",
                        ajaxOptions: {
                            type: 'post'
                        },
                        onblur: 'submit',
                        send: 'always'
                    });
                }
            }).columnFilter({
                sPlaceHolder: "head:after",
                aoColumns: [
                    { type: "text" },
					{ type: "text" },
					null,
					{ type: "text" }
                ]
            });

            $('#comment_tbl .editable').on('hidden', function (e, reason) {
                if (reason === 'save' || reason === 'nochange') {
                    var $next = $(this).closest('tr').next().find('.editable');
                    if ($('#autoopen').is(':checked')) {
                        setTimeout(function () {
                            $next.editable('show');
                        }, 300);
                    } else {
                        $next.focus();
                    }
                }
            });


            $(".clickableRow").click(function () {
                window.document.location = $(this).data('url');
            });
        });
	</script>
	{% block headscripts %}{% endblock %}
    <title>{% block pagetitle %}{% endblock %} | Learning System Control Panel</title>
  </head>
  <body>
      <div class="container">
		<div class="header">
			<div class="row">
				<div class="col-sm-12">
					<h3 class="text-muted"><a href="{{ url_for('index') }}">Comments in the System</a> {% block subtitle %}{% endblock %}</h3>
					<h5><a href="{{ url_for('training_data') }}">Training</a> | <a href="{{ url_for('flagged_data') }}">Flagged</a> |
                        <a href="{{ url_for('manual_data') }}">Manually Added</a> | <a href="{{ url_for('automated_data') }}">System Added</a> |
                        <a href="{{ url_for('disputed_data') }}">Disputed</a> | <a href="{{ url_for('add_comments') }}">Add Comments</a> | 
						<a href="{{ url_for('settings') }}">Settings</a> | <a href="{{ url_for('add_settings') }}">Add Setting</a>
                    </h5>
				</div>
			</div>
            {% if not suppress_overview %}
			<div class="row">
				<div class="col-sm-12">
					<h3 class="text-muted">Overview</h3>
					<div class="row">
						<div class="col-sm-12">
							<table class="table table-condensed">
								<thead>
									<tr><th>Current Status</th><th>Status Date</th><th>Quota Remaining</th><th>Flagging Enabled</th><th>Time to New UTC</th></tr>
								</thead>
								<tbody>
									<tr><td>{{ header_counts.current_status }}</td><td>{{ header_counts.current_status_date }}</td><td>{{ header_counts.quota_remaining }}</td><td>{{ header_counts.flagging_enabled }}</td><td>{{ header_counts.time_to_new_day }}</td></tr>
								</tbody>
							</table>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-3">
							<table class="table table-condensed">
								<thead>
									<tr><th>Comment Type</th><th>Count</th></tr>
								</thead>
								<tbody>
							{% for c in header_counts.comment_cnts %}
								<tr><td>{{ c.name }}</td><td>{{ c.count }}</td></tr>
							{% endfor %}
								</tbody>
							</table>						
						</div>
						<div class="col-sm-3">
							<table class="table table-condensed table-hover">
								<thead>
									<tr><th>Comments flagged...</td><th>Count</th></tr>
								</thead>
								<tbody>
									<tr class="clickableRow" data-url="{{ url_for('flagged_data', histdays=0) }}"><td>...today</td><td>{{ header_counts.comments_flag_today }}</td></tr>
									<tr class="clickableRow" data-url="{{ url_for('flagged_data', histdays=1) }}"><td>...since yesterday</td><td>{{ header_counts.comments_flag_yesterday }}</td></tr>
									<tr class="clickableRow" data-url="{{ url_for('flagged_data', histdays=7) }}"><td>...this week</td><td>{{ header_counts.comments_flag_this_week }}</td></tr>
								</tbody>
							</table>
						</div>
						<div class="col-sm-3">
							<table class="table table-condensed table-hover">
								<thead>
									<tr><th>Comments manually added...</td><th>Count</th></tr>
								</thead>
								<tbody>
									<tr class="clickableRow" data-url="{{ url_for('manual_data', histdays=0) }}"><td>...today</td><td>{{ header_counts.comments_manual_add_today }}</td></tr>
									<tr class="clickableRow" data-url="{{ url_for('manual_data', histdays=1) }}"><td>...since yesterday</td><td>{{ header_counts.comments_manual_add_yesterday }}</td></tr>
									<tr class="clickableRow" data-url="{{ url_for('manual_data', histdays=7) }}"><td>...this week</td><td>{{ header_counts.comments_manual_add_this_week }}</td></tr>
								</tbody>
							</table>
						</div>
                        <div class="col-sm-3">
							<table class="table table-condensed table-hover">
								<thead>
									<tr><th>Comments system added...</td><th>Count</th></tr>
								</thead>
								<tbody>
									<tr class="clickableRow" data-url="{{ url_for('automated_data', histdays=0) }}"><td>...today</td><td>{{ header_counts.comments_auto_add_today }}</td></tr>
									<tr class="clickableRow" data-url="{{ url_for('automated_data', histdays=1) }}"><td>...since yesterday</td><td>{{ header_counts.comments_auto_add_yesterday }}</td></tr>
									<tr class="clickableRow" data-url="{{ url_for('automated_data', histdays=7) }}"><td>...this week</td><td>{{ header_counts.comments_auto_add_this_week }}</td></tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
            {% endif %}
		</div>
		<hr />
		{% block commenttable %}{% endblock %}
      </div>
  </body>
</html>